.idea/
*.jks
*.pdf
.settings/
*.launch
.classpath
gwt-unitCache/
src/main/resources/license-settings.properties
*.project
*.time
_*.txt
*.class
*/*.db
*.ser
*.lck
exhibitor.db.script
exhibitor.db.properties
*.xls#
dump.txt
dictionary.txt
static/app
Application/
pom.properties
*tmp
db/*.dbx.*
*.versionsBackup
nbproject/
interpolated-pom.xml
*.log
*.class
*.ipr
*.iws
*.jar
*-out.xml
target/*.zip
*.iml
apidocs/
assemblies/
*/maven-archiver/
starter.properties
web/backend/parent/src/main/resources/system.properties
web/backend/restful/src/test/resources/system.properties
com.a5000.platform.web.Module/
permutation-*.js
log.*.txt
a5db*.h2.db
a5db*.lock.db
a5db*.trace.db